[Script]

#京东多账号同步
cron "20 * * * *" script-path=https://raw.githubusercontent.com/dompling/Script/master/jd/ql_sync_box.js,tag=京东多账号同步, img-url=https://raw.githubusercontent.com/WalterYang689/qx_use/main/icon/jd.png

cron "1 6 * * *" script-path=https://raw.githubusercontent.com/FoKit/Scripts/main/scripts/jhsh_checkIn.js,tag=建行生活,enable=true

cron "10 0 * * *" script-path=https://raw.githubusercontent.com/Crazy-Z7/Task/main/GDTu.js,tag=高德地图-福利中心签到,enable=true

cron "2 7 * * *" script-path=https://raw.githubusercontent.com/Sliverkiss/helloworld/master/Study/tls.js, tag=特仑苏官方商城

cron "20 6 * * *" script-path=https://raw.githubusercontent.com/MCdasheng/QuantumultX/main/Scripts/myScripts/macat.js,tag=马克喵网站签到, img-url=https://raw.githubusercontent.com/Orz-3/mini/master/Color/Skicat.png
