[Script]

#京东多账号同步
cron "20 * * * *" script-path=https://raw.githubusercontent.com/dompling/Script/master/jd/ql_sync_box.js, timeout=300, tag=京东多账号同步, img-url=https://raw.githubusercontent.com/WalterYang689/qx_use/main/icon/jd.png

#美团买菜签到
cron "30 0 * * *" script-path=https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/script/meituan/maicai_checkin.js, timeout=300, tag=美团买菜每日签到, img-url=https://raw.githubusercontent.com/WalterYang689/qx_use/main/icon/mtmc.png

# BiliBili每日等级任务
cron "25 7 * * *" script-path=https://raw.githubusercontent.com/ClydeTime/Quantumult/main/Script/Task/BiliBili.js, timeout=300, tag=BiliBili每日等级任务, img-url=https://gitlab.com/lodepuly/vpn_tool/-/raw/main/Resource/Icon/80px/Bilibili.png
